# db-backup
DB_TYPE=mysql
DB_HOST=school_db
DB_USER=ctfd
DB_PASS=ctfd
DB_NAME=ctfd
DB_DUMP_FREQ=1440
CHECKSUM=SHA1
COMPRESSION=GZ
SPLIT_DB=FALSE
CONTAINER_ENABLE_MONITORING=FALSE
BACKUP_LOCATION=S3
S3_BUCKET=CHANGE_ME
S3_KEY_ID=CHANGE_ME
S3_KEY_SECRET=CHANGE_ME
S3_REGION=ru-central1
S3_HOST=storage.yandexcloud.net
S3_PROTOCOL=https
S3_PATH=

# db
MYSQL_ROOT_PASSWORD=${DB_PASS}
MYSQL_USER=${DB_USER}
MYSQL_PASSWORD=${DB_PASS}
MYSQL_DATABASE=${DB_NAME}

# ctfd
DATABASE_URL=mysql+pymysql://${DB_NAME}:${DB_PASS}@${DB_HOST}/${DB_NAME}
REDIS_URL=redis://school_cache:6379
UPLOAD_FOLDER=/var/uploads
WORKERS=1
LOG_FOLDER=/var/log/CTFd
ACCESS_LOG=-
ERROR_LOG=-
REVERSE_PROXY=true
SCRIPT_NAME=/school
APPLICATION_ROOT=/school